# OBJECTIVE : 
    
    To scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [1]:
# importing required libraries.
import pandas as pd
import selenium
from selenium import webdriver

In [2]:
#connecting the web driver.
driver=webdriver.Chrome(r'C:\Program Files (x86)\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('https://www.myntra.com/shoes')

In [11]:
#applying the required filters
price_filter=driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [12]:
color_filter=driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color_filter.click()

In [18]:
#fetching the BRAND,Product_Discription,Price from page 1 and checking the output
Brand_tag1=driver.find_elements_by_xpath("//h3[@class='product-brand']")
Brand_1=[]
for i in Brand_tag1:
    brandtag1=i.text
    Brand_1.append(brandtag1)

In [27]:
Prod_dis1=driver.find_elements_by_xpath("//h4[@class='product-product']")
Prod_dis_1=[]
for i in Prod_dis1:
    Proddis1=i.text
    Prod_dis_1.append(Proddis1)

In [28]:
Price1=driver.find_elements_by_xpath("//div[@class='product-price']")
Price_1=[]
for i in Price1:
    Prices1=i.text
    Price_1.append(Prices1)

In [25]:
page_button=driver.find_element_by_xpath("//a[@href='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=2']")
page_button.click()

In [26]:
Brand_tag2=driver.find_elements_by_xpath("//h3[@class='product-brand']")
Brand_2=[]
for i in Brand_tag2:
    brandtag2=i.text
    Brand_2.append(brandtag2)
    
Prod_dis2=driver.find_elements_by_xpath("//h4[@class='product-product']")
Prod_dis_2=[]
for i in Prod_dis2:
    Proddis2=i.text
    Prod_dis_2.append(Proddis2)

Price2=driver.find_elements_by_xpath("//div[@class='product-price']")
Price_2=[]
for i in Price2:
    Prices2=i.text
    Price_2.append(Prices2)

In [29]:
page_button=driver.find_element_by_xpath("//a[@href='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0&p=3']")
page_button.click()

In [30]:
Brand_tag3=driver.find_elements_by_xpath("//h3[@class='product-brand']")
Brand_3=[]
for i in Brand_tag3:
    brandtag3=i.text
    Brand_3.append(brandtag3)
    
Prod_dis3=driver.find_elements_by_xpath("//h4[@class='product-product']")
Prod_dis_3=[]
for i in Prod_dis3:
    Proddis3=i.text
    Prod_dis_3.append(Proddis3)

Price3=driver.find_elements_by_xpath("//div[@class='product-price']")
Price_3=[]
for i in Price3:
    Prices3=i.text
    Price_3.append(Prices3)

In [31]:
Brand=Brand_1+Brand_2+Brand_3
Product_Discription=Prod_dis_1+Prod_dis_2+Prod_dis_3
Price=Price_1+Price_2+Price_3

In [32]:
#creating a data frame.
shoes_data=pd.DataFrame({})
shoes_data['Brand'] = Brand[0:100]
shoes_data['Product_Discription'] = Product_Discription[0:100]
shoes_data['Price'] = Price[0:100]

In [33]:
shoes_data

,Brand,Product_Discription,Price
0,ALDO,Women Liquify Rebel Running,Rs. 8999
1,PUMA Motorsport,Women Solid Sneakers,Rs. 6999
2,Nike,Men Solid Leather Formal Derbys,Rs. 9999
3,Nike,Men Running Shoes,Rs. 8499
4,Nike,Men Leather Driving Shoes,Rs. 7499Rs. 9999(25% OFF)
...,...,...,...
95,Ruosh,Men Formal Leather Brogues,Rs. 7490
96,Geox,Men Leather Formal Oxfords,Rs. 7867Rs. 10490(25% OFF)
97,Nike,Men PG 5 EP Basketball Shoes,Rs. 7436Rs. 9295(20% OFF)
98,Geox,Men Leather Formal Oxfords,Rs. 9367Rs. 12490(25% OFF)
99,Ruosh,Men Solid Leather Formal Monks,Rs. 8990